<nav class="site-nav">
  <button class="menu-toggle" aria-label="Toggle Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="nav-list">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about/' | relative_url }}">About</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">Cuisines</a>
      <ul class="dropdown-menu">
        {% for cuisine in site.cuisines %}
          <li><a href="{{ cuisine.url | relative_url }}">{{ cuisine.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">Cities</a>
      <ul class="dropdown-menu">
        {% for city in site.cities %}
          <li><a href="{{ city.url | relative_url }}">{{ city.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>