$primary-color: #FFB3BA; // pastel pink
$secondary-color: #BAFFC9; // pastel green
$accent-color: #BAE1FF; // pastel blue
$text-color: #645F5E; // soft dark gray
$background-color: #FDFDFD; // off-white
$font-family: 'Lato', sans-serif;